/* EditInformation.css */
.edit-information-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.edit-information-header {
    text-align: center;
    margin-bottom: 20px;
}

.edit-information-form .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.save-button:hover {
    background-color: #0056b3;
}

.save-button.clicked {
    background-color: #0056b3; /* Darkened color when clicked */
}

.error-message {
    color: #FF0000;
    margin-top: 10px;
}

.upload-container {
    display: flex;
    justify-content: center;
}

.platform-container {
    display: flex;
    align-items: center;
}
.platform-container select,
.platform-container input[type="text"] {
    width: calc(50% - 10px); /* Set the width as desired */
    margin-right: 6px; /* Adjust margin for spacing */
    padding: 10px; /* Adjust padding */
    font-size: 16px; /* Adjust font size */
}

.platform-container button {
    width: 50px; /* Set the width as needed */
    height: 45px; /* Adjust height */
    font-size: 16px; /* Adjust font size */
}

.profile-picture {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%; /* This creates a circular shape */
    object-fit: cover; /* This ensures the image covers the entire container */
}

.custom-file-upload {
    display: inline-block;
    padding: 7px 10px;
    cursor: pointer;
    color: rgb(8, 20, 34);
    background-color: #fff;
    border: 1px solid rgb(8, 20, 34);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
.custom-file-upload:hover {
    background-color: #0056b3;
}

.upload-container input[type="file"] {
    display: none;
}


