.generateQRCodeContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px;
}
      
.generateQRCodeText {
          margin-bottom: 20px;
          font-size: 18px;
          text-align: center;
          background-color: white;
          color: black;
          padding: 10px 20px;
          border: 1px solid black;
          cursor: pointer;
          border-radius: 10px;
          width: 40vw;
          font-size: 10px;
          text-align: center;
}
      
.qrCode {
          margin: 20px;
          padding: 10px;
          background-color: #f9f9f9; 
          border-radius: 10px; 
          box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
      