/* Header.css */
.header {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
}

.header-title {
    flex: 3;
    margin: 0;
    text-align: center;
}

.header-button-buffer {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.back-button, .logout-button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover, .logout-button:hover {
    background-color: #0056b3;
}

.header-buffer {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
