body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.saved-connections-container {
  padding: 20px;
  text-align: center;
  flex: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.home-button:hover {
  background-color: #0056b3;
}

.connections-grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.connection-box {
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  padding: 15px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 10px;
}

.connection-box:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.connection-box img {
  border-radius: 50%;
  height: 50px;
  width: 50px; 
  margin-right: 10px;
}

.connection-box p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left; 
  white-space: nowrap;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
