img{
    width: 200px;
    height: 150px;
    border-radius: 50%;      
}

.Box {
          display: flex;         
          flex-direction: column; 
          justify-content: center;
          align-items: center; 
}

.Box > * {  
          margin: 20px 0; 
}

.ScanButton {
          background-color: white; 
          color: black;           
          padding: 10px 20px;      
          border: 1px solid black;           
          cursor: pointer;         
          border-radius: 10px;     
          transition: background-color 0.3s, color 0.3s;
          width: 30vw;
          
}
        
       
.ScanButton:hover {
          background-color: black; 
          color: white;           
}