.select-information-header {
    text-align: center;
}

.select-information-body {
    display: flex;
    flex-direction: column;
}

.select-information-item, .select-information-all-item {
    display: flex;
    padding: 5px 10px;
}

.select-information-all-item {
    border-bottom: thin solid black;
}

.select-information-label, .select-information-all-label {
    flex: 9;
}

.select-information-checkbox, .select-information-all-checkbox {
    flex: 1;
    text-align: right;
}

.select-information-submit-button {
    width: 100%;
    border: none;
    padding: 10px 0px;
    background-color: #007bff;
    color: white;
}

